:root {
    --primary-color: #db1623;
    --secondary-color: #66666f;
    --black-color: #000;

    /* CARD */
    --card-heading-color: #fff;
    --card-release-year-color: #4c4c53;
    --card-icon-fill-color: #4c4c53;
}
